/ %h2 Sign up
/ = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
/   .form-horizontal
/     = devise_error_messages!
/     .form-group
/       = f.text_field :first_name, autofocus: true,  :class => "col-sm-5", :placeholder => "First Name"
/       %br/

/     .form-group
/       = f.text_field :last_name, autofocus: true,  :class => "col-sm-5", :placeholder => "Last Name"
/       %br/
/     .form-group
/       = f.email_field :email, autofocus: true,  :class => "col-sm-5",  :placeholder => "Email-ID"
/       %br/
/     .form-group
/       = f.text_field :user_id, autofocus: true,  :class => "col-sm-5", :placeholder => "User-ID"
/       %br/

/     .form-group
/       .minimum-password
/         - if @minimum_password_length
/           %em
/             (#{@minimum_password_length} characters minimum)

/       = f.password_field :password, autocomplete: "off", :class => "col-sm-5", :placeholder => "Password"
/       %br/
/     .form-group
/       = f.password_field :password_confirmation, autocomplete: "off", :class => "col-sm-5", :placeholder => "Confirm Password"
/       %br/

/       - @user.build_profile

/       = f.fields_for :profile do |p|

/         %br/

/         = p.text_field :company_name, autofocus: true,  :class => "col-sm-5", :placeholder => "Company Name"
/         %br/
/         %br/



/         %select.col-sm-5
/           %option{:disabled => "disabled", :selected => "selected", :value => ""} Company Type
/           %option{:value => "1"} 1
/           %option{:value => "2"} 2
/           %option{:value => "3"} 3
/         %br/
/         %br/

/         %select.col-sm-5
/           %option{:disabled => "disabled", :selected => "selected", :value => ""} Business
/           %option{:value => "1"} 1
/           %option{:value => "2"} 2
/           %option{:value => "3"} 3
/         %br/
/         %br/

/         %select.col-sm-5
/           %option{:disabled => "disabled", :selected => "selected", :value => ""} Country
/           %option{:value => "1"} 1
/           %option{:value => "2"} 2
/           %option{:value => "3"} 3
/         %br/
/   .actions
/     = f.submit "Sign up"
/ = render "devise/shared/links"





.main-login.main-center
  = form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal') do |f|
    = devise_error_messages!
    .form-group
      %label.cols-sm-2.control-label{:for => "first_name"}
      .cols-sm-10
        .input-group
          %span.input-group-addon
            %i.fa.fa-user.fa{"aria-hidden" => "true"}
          = f.text_field :first_name, autofocus: true,  :class => "form-control", :placeholder => "First Name"
          / %input#name.form-control{:name => "first_name", :placeholder => "First Name", :type => "text"}/
    .form-group
      %label.cols-sm-2.control-label{:for => "last_name"}
      .cols-sm-10
        .input-group
          %span.input-group-addon
            %i.fa.fa-user.fa{"aria-hidden" => "true"}
          = f.text_field :last_name, autofocus: true,  :class => "form-control", :placeholder => "Last Name"
    .form-group
      %label.cols-sm-2.control-label{:for => "email"}
      .cols-sm-10
        .input-group
          %span.input-group-addon
            %i.fa.fa-envelope.fa{"aria-hidden" => "true"}
          = f.email_field :email, autofocus: true,  :class => "form-control",  :placeholder => "Email-ID"

    .form-group
      %label.cols-sm-2.control-label{:for => "user_id"}
      .cols-sm-10
        .input-group
          %span.input-group-addon
            %i.fa.fa-users.fa{"aria-hidden" => "true"}
          = f.text_field :user_id, autofocus: true,  :class => "form-control", :placeholder => "User-ID"


    .form-group
      %label.cols-sm-2.control-label{:for => "password"}
      .cols-sm-10
        .minimum-password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
        .input-group
          %span.input-group-addon
            %i.fa.fa-lock.fa-lg{"aria-hidden" => "true"}


          = f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password"

    .form-group
      %label.cols-sm-2.control-label{:for => "password_confirmation"}
      .cols-sm-10
        .input-group
          %span.input-group-addon
            %i.fa.fa-lock.fa-lg{"aria-hidden" => "true"}
          = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Confirm Password"
          %br/

      - @user.build_profile

      = f.fields_for :profile do |p|
        .form-group
          %label.cols-sm-2.control-label{:for => "company_name"}
          .cols-sm-10
            .input-group
              %span.input-group-addon
                %i.fa.fa-user.fa{"aria-hidden" => "true"}
              = p.text_field :company_name, autofocus: true,  :class => "form-control", :placeholder => "Company Name"
        .form-group
          %label.cols-sm-2.control-label{:for => "company_type"}
          .cols-sm-10
            .input-group
              %span.input-group-addon
                %i.fa.fa-user.fa{"aria-hidden" => "true"}
              = p.select(:company_type, User::COMPANY,{}, {:class => "dropdown form-control",prompt: "Select Your Company Type"})
        .form-group
          %label.cols-sm-2.control-label{:for => "business"}
          .cols-sm-10
            .input-group
              %span.input-group-addon
                %i.fa.fa-user.fa{"aria-hidden" => "true"}

              = p.select(:business, User::BUSINESS,{}, {:class => "form-control select",prompt: "Select Your Business"})
        .form-group
          %label.cols-sm-2.control-label{:for => "country"}
          .cols-sm-10
            .input-group
              %span.input-group-addon
                %i.fa.fa-user.fa{"aria-hidden" => "true"}
              = p.select(:country, User::COUNTRY,{}, {:class => "dropdown form-control",prompt: "Select Your Country"})
        .form-group
          %label.cols-sm-2.control-label{:for => "mobile_no"}
          .cols-sm-10
            .input-group
              %span.input-group-addon
                %i.fa.fa-user.fa{"aria-hidden" => "true"}
              = p.text_field :mobile_no, autofocus: true,  :class => "form-control", :placeholder => "Enter Mobile Number"
    .form-group
      / %button.btn.btn-primary.btn-lg.btn-block.login-button{:type => "button",:href => "sign_in" } Sign_Up
      = f.submit "Sign up", class: "btn btn-primary btn-lg btn-block login-button"

= render "devise/shared/links"


