.col-sm-6
.col-sm-6
  .main-login.main-center
    = form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal') do |f|
      = devise_error_messages!
      .form-group
        .cols-sm-10
          .input-group
            %span.input-group-addon
              %i.fa.fa-user.fa{"aria-hidden" => "true"}
            = f.text_field :first_name, autofocus: true,  :class => "form-control", :placeholder => "First Name"
            / %input#name.form-control{:name => "first_name", :placeholder => "First Name", :type => "text"}/
      .form-group
        .cols-sm-10
          .input-group
            %span.input-group-addon
              %i.fa.fa-user.fa{"aria-hidden" => "true"}
            = f.text_field :last_name, autofocus: true,  :class => "form-control", :placeholder => "Last Name"
      .form-group
        .cols-sm-10
          .input-group
            %span.input-group-addon
              %i.fa.fa-envelope.fa{"aria-hidden" => "true"}
            = f.email_field :email, autofocus: true,  :class => "form-control",  :placeholder => "Email-ID"

      .form-group
        .cols-sm-10
          .input-group
            %span.input-group-addon
              %i.fa.fa-users.fa{"aria-hidden" => "true"}
            = f.text_field :user_id, autofocus: true,  :class => "form-control", :placeholder => "User-ID"


      .form-group
        .cols-sm-10
          .minimum-password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
          .input-group
            %span.input-group-addon
              %i.fa.fa-lock.fa-lg{"aria-hidden" => "true"}
            = f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password"

      .form-group
        .cols-sm-10
          .input-group
            %span.input-group-addon
              %i.fa.fa-lock.fa-lg{"aria-hidden" => "true"}
            = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Confirm Password"
            %br/
          %br/
        - @user.build_profile

        = f.fields_for :profile do |p|
          .form-group
            .cols-sm-10
              .input-group
                %span.input-group-addon
                  %i.fa.fa-user.fa{"aria-hidden" => "true"}
                = p.text_field :company_name, autofocus: true,  :class => "form-control", :placeholder => "Company Name"
          .form-group.select_business
            .cols-sm-10
              .input-group
                %span.input-group-addon
                  %i.fa.fa-user.fa{"aria-hidden" => "true"}
                = p.select(:business, BusinessType.collect_business_type,{},{class: "selectpicker add_class_business dropdown_business form-control",title: "Select Business Type", "data-live-search": "true"})
          .form-group.select_country
            .cols-sm-10
              .input-group
                %span.input-group-addon
                  %i.fa.fa-user.fa{"aria-hidden" => "true"}
                = p.select(:country, Country.collect_country,{}, {class: "selectpicker add_class_country dropdown_country form-control", title: "select country", "data-live-search": "true"})
          .form-group.select_state
            .cols-sm-10
              .input-group
                %span.input-group-addon
                  %i.fa.fa-user.fa{"aria-hidden" => "true"}
                = p.select(:state, State.collect_state,{}, {class: "selectpicker add_class_state dropdown_state form-control", title: "select state", "data-live-search": "true"})
          .form-group
            .cols-sm-10
              .input-group
                %span.input-group-addon
                  %i.fa.fa-user.fa{"aria-hidden" => "true"}
                = p.text_field :mobile_no, autofocus: true,  :class => "form-control", :placeholder => "Enter Mobile Number"
      .form-group
        / %button.btn.btn-primary.btn-lg.btn-block.login-button{:type => "button",:href => "sign_in" } Sign_Up
        = f.submit "Sign up", class: "btn btn-primary btn-lg btn-block login-button"
        %br/
        %p.center-align= "OR"

        = render "devise/shared/links"


