.col-sm-6
  .main-login.main-center.company_profile
    = form_for(@company_profile) do |f|
      - all_views_side_error_messages!(@company_profile)
      .form-group
        .cols-sm-10
          .input-group
            = f.text_field :company_name, autofocus: true,  :class => "form-control form-width", :placeholder => "Company Name"
            %br/
            %br/
            %br/
        = f.fields_for :office_addresses do  |p|
          .form-group
            .cols-sm-10
              .input-group
                = p.text_area :branch_address, autofocus: true,  :class => "form-control form-width", :placeholder => "Registered office Address"
          .form-group.select_state
            .cols-sm-10
              .input-group
                = p.select(:state, State.collect_state,{},{class: "selectpicker form-width", "data-live-search": "true"})
          .form-group
            .cols-sm-10
              .input-group
                = p.text_field :telephone_no, autofocus: true,  :class => "form-control form-width", :placeholder => "Telephone No"
                %br/


      .form-group
        .cols-sm-10
          .input-group
            = f.email_field :email, autofocus: true,  :class => "form-control form-width", :placeholder => "Email"
      .form-group
        .cols-sm-10
          .input-group
            = f.text_field :company_website, autofocus: true,  :class => "form-control form-width", :placeholder => "Company Website"
      .form-group.select_company
        .cols-sm-10
          .input-group
            = f.select(:company_type, CompanyProfile::COMPANY,{},{class: "selectpicker form-width add-class-company", "data-live-search": "true"})
      .form-group
        .cols-sm-10
          .input-group
            = f.text_field :pan_no, autofocus: true,  :class => "form-control form-width", :placeholder => "Pan No"
      .form-group
        .cols-sm-10
          .input-group
            = f.text_field :corp_id_no, autofocus: true,  :class => "form-control form-width", :placeholder => "Corporate Identity Number"
            %br/
            %br/



        = f.fields_for :authorized_signatories do |t|
          .row.form-width
            .col-xs-4
              .form-group
                .cols-sm-10
                  .input-group
                    = t.text_field :person_name, autofocus: true,  :class => "form-control horizontal_text", :placeholder => "Name"
            .col-xs-4.select_position
              .form-group.select_state
                .cols-sm-10
                  = render partial: 'company_profiles/append_conditional_dropdown_list', locals: {t: t, dropdown_list: CompanyProfile::POSITION}
            .col-xs-4
              .form-group
                .cols-sm-10
                  .input-group
                    = t.text_field :person_id_no, autofocus: true, :class => "form-control horizontal_textfield", :placeholder => "Person Identity Number"
      .form-group
        = f.submit "Save", class: "btn btn-primary left-align"













