- content_for :javascript_includes do
  = javascript_include_tag "dropdown.js"
.col-sm-6
  .main-login.main-center.company_profile
    = nested_form_for(@company_profile) do |f|
      - all_views_side_error_messages!(@company_profile)
      .form-group
        .cols-sm-10
          .input-group
            = f.text_field :company_name, autofocus: true,  :class => "form-control form-width", :placeholder => "Company Name"
            %br/
            %br/
            %br/
        = render partial: 'company_profiles/add_branch_address', locals: {f: f}


      .form-group
        .cols-sm-10
          .input-group
            = f.email_field :email, autofocus: true,  :class => "form-control form-width", :placeholder => "Email"
      .form-group
        .cols-sm-10
          .input-group
            = f.text_field :company_website, autofocus: true,  :class => "form-control form-width", :placeholder => "Company Website"
      .form-group.select_company
        .cols-sm-10
          .input-group
            = f.select :company_type, options_for_select(CompanyProfile::COMPANY),{}, {prompt: "Company Type", class: "selectpicker form-width add-class-company", "data-live-search": "true"}
      .form-group
        .cols-sm-10
          .input-group
            = f.select :accounting_mode, options_for_select(CompanyProfile::AC_TYPE), {}, {class: "selectpicker form-control form-width", prompt: "Accounting Mode", "data-live-search": "true"}
      .form-group
        .cols-sm-10
          .input-group
            = f.text_field :pan_no, autofocus: true,  :class => "form-control form-width", :placeholder => "Pan No"
      %div{id: 'cin_num'}
        .form-group
          .cols-sm-10
            .input-group
              = f.text_field :corp_id_no, autofocus: true,  :class => "form-control form-width", :placeholder => "Corporate Identity Number"
      .form-group
        .cols-sm-10
          .input-group
            .panel-primary
              = f.label :Tax_Information, :class => "panel-heading"
      = render partial: 'company_profiles/add_tan_no', locals: {f: f}
      %div{id: 'add_details'}
        .pull-right
          = f.link_to_add :tax_deductions, id: "show_another_tax_fields", :data => { :target => ".append_tan_info"} do
            %span Add
            %span.glyphicon.glyphicon-info-sign{"aria-hidden" => "true", "data-placement" => "left", "data-toggle" => "tooltip", :title => "If you add more details,click here", :type => "button"}
      %div{id: 'plus_details'}
        .pull-right
          = link_to "#", id: "show_tax_fields" do
            %span.glyphicon.glyphicon-plus-sign{"aria-hidden" => "true"}
            %span.glyphicon.glyphicon-info-sign{"aria-hidden" => "true", "data-placement" => "left", "data-toggle" => "tooltip", :title => "If you add more details,click here", :type => "button"}
      %br
      .conditional_dropdown
        = render partial: 'company_profiles/append_conditional_dropdown_list', locals: {company_profile: @company_profile, dropdown_list: CompanyProfile::POSITION, placeholder_value: "okokok"}

      .form-group
        .cols-sm-10
          .input-group
            = f.submit "Save", class: "btn btn-primary left-align"



















