.col-sm-6
  .main-login.main-center
    = form_for(@company_profile) do |f|
      - all_views_side_error_messages!(@company_profile)
      .form-group
        .cols-sm-10
          .input-group
            = f.text_field :company_name, autofocus: true,  :class => "form-control", :placeholder => "Company Name"
      .form-group
        .cols-sm-10
          .input-group
            = f.email_field :email, autofocus: true,  :class => "form-control", :placeholder => "Email"
      .form-group
        .cols-sm-10
          .input-group
            = f.text_field :company_website, autofocus: true,  :class => "form-control", :placeholder => "Company Website"
      .form-group.select_company
        .cols-sm-10
          .input-group
            = f.select(:company_type, CompanyProfile::COMPANY,{},{class: "selectpicker  dropdown_company form-control", "data-live-search": "true"})
      .form-group
        .cols-sm-10
          .input-group
            = f.text_field :pan_no, autofocus: true,  :class => "form-control", :placeholder => "Pan No"
      .form-group
        .cols-sm-10
          .input-group
            = f.text_field :corp_id_no, autofocus: true,  :class => "form-control", :placeholder => "Corporate Identity Number"
            %br/
            %br/

        = f.fields_for :office_addresses do  |p|
          .form-group
            .cols-sm-10
              .input-group
                = p.text_area :branch_address, autofocus: true,  :class => "form-control", :placeholder => "Branch Address"
          .form-group.select_state
            .cols-sm-10
              .input-group
                = p.select(:state, CompanyProfile::STATE,{},{class: "selectpicker  form-control", "data-live-search": "true"})
          .form-group
            .cols-sm-10
              .input-group
                = p.text_field :telephone_no, autofocus: true,  :class => "form-control", :placeholder => "Telephone No"
                %br/
                %br/


        = f.fields_for :authorized_signatories do |t|
          .form-group
            .cols-sm-10
              .input-group
                = t.text_field :person_name, autofocus: true,  :class => "form-control", :placeholder => "Name"
          .form-group.select_state
            .cols-sm-10
              .input-group
                = t.select(:person_position, CompanyProfile::POSITION,{},{class: "selectpicker   form-control", "data-live-search": "true"})
          .form-group
            .cols-sm-10
              .input-group
                = t.text_field :person_id_no, autofocus: true,  :class => "form-control", :placeholder => "Person Identity Number"
          .form-group
            = f.submit "Save", class: "btn btn-primary btn-lg btn-block login-button"
