.main-login.main-center.customer_details
  = nested_form_for(@customer_detail) do |f|
    - all_views_side_error_messages!(@customer_detail)
    .form-group
      .cols-sm-10
        .input-group
          = f.label :autolyse, "Where is the customer invoices raised from?", class: "col-sm-6 control-label"
          = f.text_area :address, autofocus: true,  :class => "form-control form-width", :placeholder => "Registered office Address"
    .form-group
      = f.label :autolyse, "Customer Residential Status type", class: "col-sm-6 control-label text-right"
      .col-sm-6
        .form-group
          .input-group
            = f.label :autolyse, "Domestic", :value => "true"
            = f.radio_button :residential_status_type, true
            = f.label :autolyse, "Abroad", :value => "false"
            = f.radio_button :residential_status_type, false, :checked => true
    .form-group
      .cols-sm-10
        .input-group
          = f.label :customer_name,"Customer Name", class: "col-sm-6 control-label text-right"
          = f.text_field :customer_name, autofocus: true,  :class => "form-control form-width", :placeholder => "Customer Name"
    .form-group
      .cols-sm-10
        .input-group
          = f.label :attention_to,"Attention To", class: "col-sm-6 control-label text-right"
          = f.text_field :attention_to, autofocus: true,  :class => "form-control form-width", :placeholder => "Attention To"
    .form-group
      .cols-sm-10
        .input-group
          = f.label :autolyse, "Billing Address", class: "col-sm-6 control-label"
          = f.text_area :billing_address, autofocus: true,  :class => "form-control form-width", :placeholder => "Billing Address"
    .form-group
      .cols-sm-10
        .input-group
          = f.label :email, "Email", class: "col-sm-6 control-label"
          = f.email_field :email, autofocus: true,  :class => "form-control form-width", :placeholder => "Email"
    .form-group
      .cols-sm-10
        .input-group
          = f.label :contact_number, "Contact Number", class: "col-sm-6 control-label"
          = f.text_field :contact_number, autofocus: true,  :class => "form-control form-width", :placeholder => "Contact Number"
      = render partial: 'customer_details/customer_goods_details', locals: {customer_detail: @customer_detail}
    .form-group
      = f.submit "Save", class: "btn btn-primary left-align"

