- content_for :javascript_includes do
  = javascript_include_tag "dropdown.js"
.col-sm-6
  .main-login.main-center.company_profile
    = nested_form_for(@sales_configuration) do |f|
      - all_views_side_error_messages!(@sales_configuration)
      .form-group
        .cols-sm-10
          .input-group
            = f.select :tax_organization, options_for_select(SalesConfiguration::CHECKBOX_LIST),{}, {prompt: "Tax organization type", class: "checkbox_list_for_tax_org form-control form-width", "data-live-search": "true", multiple:"multiple"}
      .sales-i
        .form-group
          .cols-sm-10
            .input-group
              = f.label :reg_off, "If you raised the all Sales/ Service invoices from Registered office?"
              %br/
              = f.label :autolyse, "Yes", :value => "true"
              = f.radio_button :invoice_reg_office, true
              = f.label :autolyse, "No", :value => "false"
              = f.radio_button :invoice_reg_office, false, :checked => true
      .form-group
        .cols-sm-10
          .input-group
            = f.label :outside_state, "you have any branches in outside state and raised the invoices from that branch?"
            %br/
            = f.label :autolyse, "Yes", :value => "true"
            = f.radio_button :invoice_outside_branch_state, true
            = f.label :autolyse, "No", :value => "false"
            = f.radio_button :invoice_outside_branch_state, false, :checked => true

            %br/
            %br/
            %br/
        = render partial: 'sales_configurations/sales_tax', locals: {sales_configuration: @sales_configuration}
        = render partial: 'sales_configurations/sales_tax_additional_info', locals: {f: f}


        = render partial: 'sales_configurations/sales_tax_central', locals: {sales_configuration: @sales_configuration}
        / %div{id: 'service_tax'}
        = render partial: 'sales_configurations/service_tax', locals: {sales_configuration: @sales_configuration}
        = render partial: 'sales_configurations/service_tax_additional_info', locals: {f: f}

      .form-group
        = f.submit "Save", class: "btn btn-primary left-align"

