= fields_for sales_configuration do |f|
  = f.fields_for :sales_tax_central do |t|
    .form-inline
      = t.label :state,"State", class: "col-sm-6 control-label label-padding"
      .col-sm-6
        .form-group
          .input-group
            = t.select :state, options_for_select(State.collect_state),{}, {prompt: "Vat Type", class: "selectpicker form-width right-padding", "data-live-search": "true"}
            %br
            %br
            %br
    .form-inline
      = t.label :autolyse, "Have you registered Central Sales Tax ?", class: "col-sm-6 control-label"
      .col-sm-6
        .form-group
          .input-group
            = t.label :autolyse, "Yes", :value => "true"
            = t.radio_button :central_sales_tax, true
            = t.label :autolyse, "No", :value => "false"
            = t.radio_button :central_sales_tax, false, :checked => true
            %br
            %br
            %br
    / .form-inline
    .form-group
      .input-group
        = t.label :central_reg_no,"Central Sales Tax Registeration No", class: "col-sm-3 control-label"
        = t.text_field :central_reg_no, autofocus: true, :class => "col-sm-3"
        = t.label :central_tax_date,"CST with effect from", class: "col-sm-3 control-label"
        = t.text_field :central_tax_date, autofocus: true, :class => "datepicker col-sm-3"
        %br
        %br


