= fields_for sales_configuration do |f|
  = f.fields_for :sales_tax_central do |t|
    .form-group
      .cols-sm-10
        .input-group
          = t.select :state, options_for_select(State.collect_state),{}, {prompt: "Vat Type", class: "selectpicker form-width", "data-live-search": "true"}
    .form-group
      .cols-sm-10
        .input-group
          = t.label :autolyse, "If you registered Central Sales Tax ?"
          %br/
          = t.label :autolyse, "Yes", :value => "true"
          = t.radio_button :central_sales_tax, true
          = t.label :autolyse, "No", :value => "false"
          = t.radio_button :central_sales_tax, false, :checked => true
    .form-group
      .cols-sm-10
        .input-group
          = t.text_field :central_reg_no, autofocus: true, :class => "form-control form-width", :placeholder => "Central register Number"
    .form-group
      .cols-sm-10
        .input-group
          = t.text_field :central_tax_date, autofocus: true, :class => "form-control form-width", :placeholder => "Central Tax Date"


